/* ТАРИФЫ*/
#pricing .pricing-track {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 520px;

    perspective: 1200px;
    overflow: visible;
}

#pricing .pricing-card {
    position: absolute;

    transform-style: preserve-3d;

    /* filter БЕЗ transition */
    filter: brightness(0.7) saturate(0.65);

    transition:
        transform 1s cubic-bezier(0.4, 0, 0.2, 1);

    z-index: 1;
}

#pricing .pricing-card.is-active {
    transform:
        translateX(0) translateZ(180px);

    filter: none;
    z-index: 3;
}

#pricing .pricing-card.is-left {
    transform:
        translateX(-260px) translateZ(0) rotateY(35deg);

    filter: brightness(0.65) saturate(0.6);
    z-index: 2;
}

#pricing .pricing-card.is-right {
    transform:
        translateX(260px) translateZ(0) rotateY(-35deg);

    filter: brightness(0.65) saturate(0.6);
    z-index: 2;
}

#pricing .pricing-card.is-hidden {
    transform:
        translateZ(-300px) scale(0.85);

    filter: brightness(0.55) saturate(0.45);

    z-index: 0;
    pointer-events: none;
}


/* FAQ */
.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 1.5rem;
  color: #264566;
  font-size: 0.95rem;
  line-height: 1.6;
  transition:
    max-height 0.4s ease,
    padding 0.4s ease,
    opacity 0.3s ease;
  opacity: 0;
}

.faq-item.is-open .faq-answer {
  max-height: 300px;
  padding: 0 1.5rem 1.5rem;
  opacity: 1;
}

.faq-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #264566; /* primaryDark */
}

.faq-arrow svg {
  transition: transform 0.35s ease;
}

.faq-item.is-open .faq-arrow svg {
  transform: rotate(180deg);
}